<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generator.dao.t_PloyOfSale_GoodsTypeMapper">
  <resultMap id="BaseResultMap" type="com.generator.entity.t_PloyOfSale_GoodsType">
    <id column="cPloyNo" jdbcType="VARCHAR" property="cPloyNo" />
    <id column="cGoodsTypeNo" jdbcType="VARCHAR" property="cGoodsTypeNo" />
    <result column="cGoodsTypeName" jdbcType="VARCHAR" property="cGoodsTypeName" />
    <result column="fQuantity_Ploy" jdbcType="DECIMAL" property="fQuantity_Ploy" />
    <result column="fInPrice" jdbcType="DECIMAL" property="fInPrice" />
    <result column="fPrice_SO" jdbcType="DECIMAL" property="fPrice_SO" />
    <result column="dDateStart" jdbcType="TIMESTAMP" property="dDateStart" />
    <result column="cTimeStart" jdbcType="CHAR" property="cTimeStart" />
    <result column="dDateEnd" jdbcType="TIMESTAMP" property="dDateEnd" />
    <result column="cTimeEnd" jdbcType="CHAR" property="cTimeEnd" />
    <result column="iPriority" jdbcType="SMALLINT" property="iPriority" />
    <result column="bSO" jdbcType="BIT" property="bSO" />
    <result column="bPresent" jdbcType="BIT" property="bPresent" />
    <result column="cPresentPloyNo" jdbcType="VARCHAR" property="cPresentPloyNo" />
    <result column="cPloyTypeNo" jdbcType="VARCHAR" property="cPloyTypeNo" />
    <result column="cPloyTypeName" jdbcType="VARCHAR" property="cPloyTypeName" />
    <result column="bEnabled" jdbcType="BIT" property="bEnabled" />
    <result column="Week1" jdbcType="BIT" property="week1" />
    <result column="Week2" jdbcType="BIT" property="week2" />
    <result column="Week3" jdbcType="BIT" property="week3" />
    <result column="Week4" jdbcType="BIT" property="week4" />
    <result column="Week5" jdbcType="BIT" property="week5" />
    <result column="Week6" jdbcType="BIT" property="week6" />
    <result column="Week7" jdbcType="BIT" property="week7" />
    <result column="Hour0" jdbcType="BIT" property="hour0" />
    <result column="Hour1" jdbcType="BIT" property="hour1" />
    <result column="Hour2" jdbcType="BIT" property="hour2" />
    <result column="Hour3" jdbcType="BIT" property="hour3" />
    <result column="Hour4" jdbcType="BIT" property="hour4" />
    <result column="Hour5" jdbcType="BIT" property="hour5" />
    <result column="Hour6" jdbcType="BIT" property="hour6" />
    <result column="Hour7" jdbcType="BIT" property="hour7" />
    <result column="Hour8" jdbcType="BIT" property="hour8" />
    <result column="Hour9" jdbcType="BIT" property="hour9" />
    <result column="Hour10" jdbcType="BIT" property="hour10" />
    <result column="Hour11" jdbcType="BIT" property="hour11" />
    <result column="Hour12" jdbcType="BIT" property="hour12" />
    <result column="Hour13" jdbcType="BIT" property="hour13" />
    <result column="Hour14" jdbcType="BIT" property="hour14" />
    <result column="Hour15" jdbcType="BIT" property="hour15" />
    <result column="Hour16" jdbcType="BIT" property="hour16" />
    <result column="Hour17" jdbcType="BIT" property="hour17" />
    <result column="Hour18" jdbcType="BIT" property="hour18" />
    <result column="Hour19" jdbcType="BIT" property="hour19" />
    <result column="Hour20" jdbcType="BIT" property="hour20" />
    <result column="Hour21" jdbcType="BIT" property="hour21" />
    <result column="Hour22" jdbcType="BIT" property="hour22" />
    <result column="Hour23" jdbcType="BIT" property="hour23" />
    <result column="fSupRatio" jdbcType="DECIMAL" property="fSupRatio" />
    <result column="fVipValue" jdbcType="DECIMAL" property="fVipValue" />
    <result column="bMult" jdbcType="BIT" property="bMult" />
    <result column="bLimitQty" jdbcType="BIT" property="bLimitQty" />
    <result column="fLimitQty" jdbcType="DECIMAL" property="fLimitQty" />
    <result column="fRatio_JiOu" jdbcType="DECIMAL" property="fRatio_JiOu" />
    <result column="bJiOu" jdbcType="BIT" property="bJiOu" />
    <result column="fQty_Ji" jdbcType="DECIMAL" property="fQty_Ji" />
    <result column="fPrice_ji" jdbcType="DECIMAL" property="fPrice_ji" />
    <result column="fQty_Ou" jdbcType="DECIMAL" property="fQty_Ou" />
    <result column="fPrice_Ou" jdbcType="DECIMAL" property="fPrice_Ou" />
    <result column="bSuspend" jdbcType="BIT" property="bSuspend" />
    <result column="cSuspendMan" jdbcType="VARCHAR" property="cSuspendMan" />
    <result column="dSuspend" jdbcType="TIMESTAMP" property="dSuspend" />
    <result column="fPrice_SO_old" jdbcType="DECIMAL" property="fPrice_SO_old" />
    <result column="cUpdateMan" jdbcType="VARCHAR" property="cUpdateMan" />
    <result column="dUpdate" jdbcType="TIMESTAMP" property="dUpdate" />
    <result column="bDownLoad" jdbcType="BIT" property="bDownLoad" />
    <result column="b_ftp" jdbcType="BIT" property="b_ftp" />
    <result column="iPre_Days" jdbcType="INTEGER" property="iPre_Days" />
    <result column="iOver_Days" jdbcType="INTEGER" property="iOver_Days" />
    <result column="dPeriodStart_1" jdbcType="VARCHAR" property="dPeriodStart_1" />
    <result column="dPeriodEnd_1" jdbcType="VARCHAR" property="dPeriodEnd_1" />
    <result column="fPeriodDiscount_1" jdbcType="DECIMAL" property="fPeriodDiscount_1" />
    <result column="dPeriodStart_2" jdbcType="VARCHAR" property="dPeriodStart_2" />
    <result column="dPeriodEnd_2" jdbcType="VARCHAR" property="dPeriodEnd_2" />
    <result column="fPeriodDiscount_2" jdbcType="DECIMAL" property="fPeriodDiscount_2" />
    <result column="dPeriodStart_3" jdbcType="VARCHAR" property="dPeriodStart_3" />
    <result column="dPeriodEnd_3" jdbcType="VARCHAR" property="dPeriodEnd_3" />
    <result column="fPeriodDiscount_3" jdbcType="DECIMAL" property="fPeriodDiscount_3" />
    <result column="dPeriodStart_4" jdbcType="VARCHAR" property="dPeriodStart_4" />
    <result column="dPeriodEnd_4" jdbcType="VARCHAR" property="dPeriodEnd_4" />
    <result column="fPeriodDiscount_4" jdbcType="DECIMAL" property="fPeriodDiscount_4" />
    <result column="dPeriodStart_5" jdbcType="VARCHAR" property="dPeriodStart_5" />
    <result column="dPeriodEnd_5" jdbcType="VARCHAR" property="dPeriodEnd_5" />
    <result column="fPeriodDiscount_5" jdbcType="DECIMAL" property="fPeriodDiscount_5" />
    <result column="dPeriodStart_6" jdbcType="VARCHAR" property="dPeriodStart_6" />
    <result column="dPeriodEnd_6" jdbcType="VARCHAR" property="dPeriodEnd_6" />
    <result column="fPeriodDiscount_6" jdbcType="DECIMAL" property="fPeriodDiscount_6" />
    <result column="dPeriodStart_7" jdbcType="VARCHAR" property="dPeriodStart_7" />
    <result column="dPeriodEnd_7" jdbcType="VARCHAR" property="dPeriodEnd_7" />
    <result column="fPeriodDiscount_7" jdbcType="DECIMAL" property="fPeriodDiscount_7" />
    <result column="dPeriodStart_8" jdbcType="VARCHAR" property="dPeriodStart_8" />
    <result column="dPeriodEnd_8" jdbcType="VARCHAR" property="dPeriodEnd_8" />
    <result column="fPeriodDiscount_8" jdbcType="DECIMAL" property="fPeriodDiscount_8" />
    <result column="dPeriodStart_9" jdbcType="VARCHAR" property="dPeriodStart_9" />
    <result column="dPeriodEnd_9" jdbcType="VARCHAR" property="dPeriodEnd_9" />
    <result column="fPeriodDiscount_9" jdbcType="DECIMAL" property="fPeriodDiscount_9" />
    <result column="dPeriodStart_10" jdbcType="VARCHAR" property="dPeriodStart_10" />
    <result column="dPeriodEnd_10" jdbcType="VARCHAR" property="dPeriodEnd_10" />
    <result column="fPeriodDiscount_10" jdbcType="DECIMAL" property="fPeriodDiscount_10" />
    <result column="dPeriodStart_11" jdbcType="VARCHAR" property="dPeriodStart_11" />
    <result column="dPeriodEnd_11" jdbcType="VARCHAR" property="dPeriodEnd_11" />
    <result column="fPeriodDiscount_11" jdbcType="DECIMAL" property="fPeriodDiscount_11" />
    <result column="dPeriodStart_12" jdbcType="VARCHAR" property="dPeriodStart_12" />
    <result column="dPeriodEnd_12" jdbcType="VARCHAR" property="dPeriodEnd_12" />
    <result column="fPeriodDiscount_12" jdbcType="DECIMAL" property="fPeriodDiscount_12" />
    <result column="cStoreNo" jdbcType="VARCHAR" property="cStoreNo" />
    <result column="cStoreName" jdbcType="VARCHAR" property="cStoreName" />
    <result column="bVip" jdbcType="BIT" property="bVip" />
    <result column="iLineNo" jdbcType="INTEGER" property="iLineNo" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from t_PloyOfSale_GoodsType
    where cPloyNo = #{cPloyNo,jdbcType=VARCHAR}
      and cGoodsTypeNo = #{cGoodsTypeNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.generator.entity.t_PloyOfSale_GoodsType">
    insert into t_PloyOfSale_GoodsType (cPloyNo, cGoodsTypeNo, cGoodsTypeName, 
      fQuantity_Ploy, fInPrice, fPrice_SO, 
      dDateStart, cTimeStart, dDateEnd, 
      cTimeEnd, iPriority, bSO, 
      bPresent, cPresentPloyNo, cPloyTypeNo, 
      cPloyTypeName, bEnabled, Week1, 
      Week2, Week3, Week4, Week5, 
      Week6, Week7, Hour0, Hour1, 
      Hour2, Hour3, Hour4, Hour5, 
      Hour6, Hour7, Hour8, Hour9, 
      Hour10, Hour11, Hour12, Hour13, 
      Hour14, Hour15, Hour16, Hour17, 
      Hour18, Hour19, Hour20, Hour21, 
      Hour22, Hour23, fSupRatio, 
      fVipValue, bMult, bLimitQty, 
      fLimitQty, fRatio_JiOu, bJiOu, 
      fQty_Ji, fPrice_ji, fQty_Ou, 
      fPrice_Ou, bSuspend, cSuspendMan, 
      dSuspend, fPrice_SO_old, cUpdateMan, 
      dUpdate, bDownLoad, b_ftp, 
      iPre_Days, iOver_Days, dPeriodStart_1, 
      dPeriodEnd_1, fPeriodDiscount_1, dPeriodStart_2, 
      dPeriodEnd_2, fPeriodDiscount_2, dPeriodStart_3, 
      dPeriodEnd_3, fPeriodDiscount_3, dPeriodStart_4, 
      dPeriodEnd_4, fPeriodDiscount_4, dPeriodStart_5, 
      dPeriodEnd_5, fPeriodDiscount_5, dPeriodStart_6, 
      dPeriodEnd_6, fPeriodDiscount_6, dPeriodStart_7, 
      dPeriodEnd_7, fPeriodDiscount_7, dPeriodStart_8, 
      dPeriodEnd_8, fPeriodDiscount_8, dPeriodStart_9, 
      dPeriodEnd_9, fPeriodDiscount_9, dPeriodStart_10, 
      dPeriodEnd_10, fPeriodDiscount_10, dPeriodStart_11, 
      dPeriodEnd_11, fPeriodDiscount_11, dPeriodStart_12, 
      dPeriodEnd_12, fPeriodDiscount_12, cStoreNo, 
      cStoreName, bVip, iLineNo
      )
    values (#{cPloyNo,jdbcType=VARCHAR}, #{cGoodsTypeNo,jdbcType=VARCHAR}, #{cGoodsTypeName,jdbcType=VARCHAR}, 
      #{fQuantity_Ploy,jdbcType=DECIMAL}, #{fInPrice,jdbcType=DECIMAL}, #{fPrice_SO,jdbcType=DECIMAL}, 
      #{dDateStart,jdbcType=TIMESTAMP}, #{cTimeStart,jdbcType=CHAR}, #{dDateEnd,jdbcType=TIMESTAMP}, 
      #{cTimeEnd,jdbcType=CHAR}, #{iPriority,jdbcType=SMALLINT}, #{bSO,jdbcType=BIT}, 
      #{bPresent,jdbcType=BIT}, #{cPresentPloyNo,jdbcType=VARCHAR}, #{cPloyTypeNo,jdbcType=VARCHAR}, 
      #{cPloyTypeName,jdbcType=VARCHAR}, #{bEnabled,jdbcType=BIT}, #{week1,jdbcType=BIT}, 
      #{week2,jdbcType=BIT}, #{week3,jdbcType=BIT}, #{week4,jdbcType=BIT}, #{week5,jdbcType=BIT}, 
      #{week6,jdbcType=BIT}, #{week7,jdbcType=BIT}, #{hour0,jdbcType=BIT}, #{hour1,jdbcType=BIT}, 
      #{hour2,jdbcType=BIT}, #{hour3,jdbcType=BIT}, #{hour4,jdbcType=BIT}, #{hour5,jdbcType=BIT}, 
      #{hour6,jdbcType=BIT}, #{hour7,jdbcType=BIT}, #{hour8,jdbcType=BIT}, #{hour9,jdbcType=BIT}, 
      #{hour10,jdbcType=BIT}, #{hour11,jdbcType=BIT}, #{hour12,jdbcType=BIT}, #{hour13,jdbcType=BIT}, 
      #{hour14,jdbcType=BIT}, #{hour15,jdbcType=BIT}, #{hour16,jdbcType=BIT}, #{hour17,jdbcType=BIT}, 
      #{hour18,jdbcType=BIT}, #{hour19,jdbcType=BIT}, #{hour20,jdbcType=BIT}, #{hour21,jdbcType=BIT}, 
      #{hour22,jdbcType=BIT}, #{hour23,jdbcType=BIT}, #{fSupRatio,jdbcType=DECIMAL}, 
      #{fVipValue,jdbcType=DECIMAL}, #{bMult,jdbcType=BIT}, #{bLimitQty,jdbcType=BIT}, 
      #{fLimitQty,jdbcType=DECIMAL}, #{fRatio_JiOu,jdbcType=DECIMAL}, #{bJiOu,jdbcType=BIT}, 
      #{fQty_Ji,jdbcType=DECIMAL}, #{fPrice_ji,jdbcType=DECIMAL}, #{fQty_Ou,jdbcType=DECIMAL}, 
      #{fPrice_Ou,jdbcType=DECIMAL}, #{bSuspend,jdbcType=BIT}, #{cSuspendMan,jdbcType=VARCHAR}, 
      #{dSuspend,jdbcType=TIMESTAMP}, #{fPrice_SO_old,jdbcType=DECIMAL}, #{cUpdateMan,jdbcType=VARCHAR}, 
      #{dUpdate,jdbcType=TIMESTAMP}, #{bDownLoad,jdbcType=BIT}, #{b_ftp,jdbcType=BIT}, 
      #{iPre_Days,jdbcType=INTEGER}, #{iOver_Days,jdbcType=INTEGER}, #{dPeriodStart_1,jdbcType=VARCHAR}, 
      #{dPeriodEnd_1,jdbcType=VARCHAR}, #{fPeriodDiscount_1,jdbcType=DECIMAL}, #{dPeriodStart_2,jdbcType=VARCHAR}, 
      #{dPeriodEnd_2,jdbcType=VARCHAR}, #{fPeriodDiscount_2,jdbcType=DECIMAL}, #{dPeriodStart_3,jdbcType=VARCHAR}, 
      #{dPeriodEnd_3,jdbcType=VARCHAR}, #{fPeriodDiscount_3,jdbcType=DECIMAL}, #{dPeriodStart_4,jdbcType=VARCHAR}, 
      #{dPeriodEnd_4,jdbcType=VARCHAR}, #{fPeriodDiscount_4,jdbcType=DECIMAL}, #{dPeriodStart_5,jdbcType=VARCHAR}, 
      #{dPeriodEnd_5,jdbcType=VARCHAR}, #{fPeriodDiscount_5,jdbcType=DECIMAL}, #{dPeriodStart_6,jdbcType=VARCHAR}, 
      #{dPeriodEnd_6,jdbcType=VARCHAR}, #{fPeriodDiscount_6,jdbcType=DECIMAL}, #{dPeriodStart_7,jdbcType=VARCHAR}, 
      #{dPeriodEnd_7,jdbcType=VARCHAR}, #{fPeriodDiscount_7,jdbcType=DECIMAL}, #{dPeriodStart_8,jdbcType=VARCHAR}, 
      #{dPeriodEnd_8,jdbcType=VARCHAR}, #{fPeriodDiscount_8,jdbcType=DECIMAL}, #{dPeriodStart_9,jdbcType=VARCHAR}, 
      #{dPeriodEnd_9,jdbcType=VARCHAR}, #{fPeriodDiscount_9,jdbcType=DECIMAL}, #{dPeriodStart_10,jdbcType=VARCHAR}, 
      #{dPeriodEnd_10,jdbcType=VARCHAR}, #{fPeriodDiscount_10,jdbcType=DECIMAL}, #{dPeriodStart_11,jdbcType=VARCHAR}, 
      #{dPeriodEnd_11,jdbcType=VARCHAR}, #{fPeriodDiscount_11,jdbcType=DECIMAL}, #{dPeriodStart_12,jdbcType=VARCHAR}, 
      #{dPeriodEnd_12,jdbcType=VARCHAR}, #{fPeriodDiscount_12,jdbcType=DECIMAL}, #{cStoreNo,jdbcType=VARCHAR}, 
      #{cStoreName,jdbcType=VARCHAR}, #{bVip,jdbcType=BIT}, #{iLineNo,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.generator.entity.t_PloyOfSale_GoodsType">
    update t_PloyOfSale_GoodsType
    set cGoodsTypeName = #{cGoodsTypeName,jdbcType=VARCHAR},
      fQuantity_Ploy = #{fQuantity_Ploy,jdbcType=DECIMAL},
      fInPrice = #{fInPrice,jdbcType=DECIMAL},
      fPrice_SO = #{fPrice_SO,jdbcType=DECIMAL},
      dDateStart = #{dDateStart,jdbcType=TIMESTAMP},
      cTimeStart = #{cTimeStart,jdbcType=CHAR},
      dDateEnd = #{dDateEnd,jdbcType=TIMESTAMP},
      cTimeEnd = #{cTimeEnd,jdbcType=CHAR},
      iPriority = #{iPriority,jdbcType=SMALLINT},
      bSO = #{bSO,jdbcType=BIT},
      bPresent = #{bPresent,jdbcType=BIT},
      cPresentPloyNo = #{cPresentPloyNo,jdbcType=VARCHAR},
      cPloyTypeNo = #{cPloyTypeNo,jdbcType=VARCHAR},
      cPloyTypeName = #{cPloyTypeName,jdbcType=VARCHAR},
      bEnabled = #{bEnabled,jdbcType=BIT},
      Week1 = #{week1,jdbcType=BIT},
      Week2 = #{week2,jdbcType=BIT},
      Week3 = #{week3,jdbcType=BIT},
      Week4 = #{week4,jdbcType=BIT},
      Week5 = #{week5,jdbcType=BIT},
      Week6 = #{week6,jdbcType=BIT},
      Week7 = #{week7,jdbcType=BIT},
      Hour0 = #{hour0,jdbcType=BIT},
      Hour1 = #{hour1,jdbcType=BIT},
      Hour2 = #{hour2,jdbcType=BIT},
      Hour3 = #{hour3,jdbcType=BIT},
      Hour4 = #{hour4,jdbcType=BIT},
      Hour5 = #{hour5,jdbcType=BIT},
      Hour6 = #{hour6,jdbcType=BIT},
      Hour7 = #{hour7,jdbcType=BIT},
      Hour8 = #{hour8,jdbcType=BIT},
      Hour9 = #{hour9,jdbcType=BIT},
      Hour10 = #{hour10,jdbcType=BIT},
      Hour11 = #{hour11,jdbcType=BIT},
      Hour12 = #{hour12,jdbcType=BIT},
      Hour13 = #{hour13,jdbcType=BIT},
      Hour14 = #{hour14,jdbcType=BIT},
      Hour15 = #{hour15,jdbcType=BIT},
      Hour16 = #{hour16,jdbcType=BIT},
      Hour17 = #{hour17,jdbcType=BIT},
      Hour18 = #{hour18,jdbcType=BIT},
      Hour19 = #{hour19,jdbcType=BIT},
      Hour20 = #{hour20,jdbcType=BIT},
      Hour21 = #{hour21,jdbcType=BIT},
      Hour22 = #{hour22,jdbcType=BIT},
      Hour23 = #{hour23,jdbcType=BIT},
      fSupRatio = #{fSupRatio,jdbcType=DECIMAL},
      fVipValue = #{fVipValue,jdbcType=DECIMAL},
      bMult = #{bMult,jdbcType=BIT},
      bLimitQty = #{bLimitQty,jdbcType=BIT},
      fLimitQty = #{fLimitQty,jdbcType=DECIMAL},
      fRatio_JiOu = #{fRatio_JiOu,jdbcType=DECIMAL},
      bJiOu = #{bJiOu,jdbcType=BIT},
      fQty_Ji = #{fQty_Ji,jdbcType=DECIMAL},
      fPrice_ji = #{fPrice_ji,jdbcType=DECIMAL},
      fQty_Ou = #{fQty_Ou,jdbcType=DECIMAL},
      fPrice_Ou = #{fPrice_Ou,jdbcType=DECIMAL},
      bSuspend = #{bSuspend,jdbcType=BIT},
      cSuspendMan = #{cSuspendMan,jdbcType=VARCHAR},
      dSuspend = #{dSuspend,jdbcType=TIMESTAMP},
      fPrice_SO_old = #{fPrice_SO_old,jdbcType=DECIMAL},
      cUpdateMan = #{cUpdateMan,jdbcType=VARCHAR},
      dUpdate = #{dUpdate,jdbcType=TIMESTAMP},
      bDownLoad = #{bDownLoad,jdbcType=BIT},
      b_ftp = #{b_ftp,jdbcType=BIT},
      iPre_Days = #{iPre_Days,jdbcType=INTEGER},
      iOver_Days = #{iOver_Days,jdbcType=INTEGER},
      dPeriodStart_1 = #{dPeriodStart_1,jdbcType=VARCHAR},
      dPeriodEnd_1 = #{dPeriodEnd_1,jdbcType=VARCHAR},
      fPeriodDiscount_1 = #{fPeriodDiscount_1,jdbcType=DECIMAL},
      dPeriodStart_2 = #{dPeriodStart_2,jdbcType=VARCHAR},
      dPeriodEnd_2 = #{dPeriodEnd_2,jdbcType=VARCHAR},
      fPeriodDiscount_2 = #{fPeriodDiscount_2,jdbcType=DECIMAL},
      dPeriodStart_3 = #{dPeriodStart_3,jdbcType=VARCHAR},
      dPeriodEnd_3 = #{dPeriodEnd_3,jdbcType=VARCHAR},
      fPeriodDiscount_3 = #{fPeriodDiscount_3,jdbcType=DECIMAL},
      dPeriodStart_4 = #{dPeriodStart_4,jdbcType=VARCHAR},
      dPeriodEnd_4 = #{dPeriodEnd_4,jdbcType=VARCHAR},
      fPeriodDiscount_4 = #{fPeriodDiscount_4,jdbcType=DECIMAL},
      dPeriodStart_5 = #{dPeriodStart_5,jdbcType=VARCHAR},
      dPeriodEnd_5 = #{dPeriodEnd_5,jdbcType=VARCHAR},
      fPeriodDiscount_5 = #{fPeriodDiscount_5,jdbcType=DECIMAL},
      dPeriodStart_6 = #{dPeriodStart_6,jdbcType=VARCHAR},
      dPeriodEnd_6 = #{dPeriodEnd_6,jdbcType=VARCHAR},
      fPeriodDiscount_6 = #{fPeriodDiscount_6,jdbcType=DECIMAL},
      dPeriodStart_7 = #{dPeriodStart_7,jdbcType=VARCHAR},
      dPeriodEnd_7 = #{dPeriodEnd_7,jdbcType=VARCHAR},
      fPeriodDiscount_7 = #{fPeriodDiscount_7,jdbcType=DECIMAL},
      dPeriodStart_8 = #{dPeriodStart_8,jdbcType=VARCHAR},
      dPeriodEnd_8 = #{dPeriodEnd_8,jdbcType=VARCHAR},
      fPeriodDiscount_8 = #{fPeriodDiscount_8,jdbcType=DECIMAL},
      dPeriodStart_9 = #{dPeriodStart_9,jdbcType=VARCHAR},
      dPeriodEnd_9 = #{dPeriodEnd_9,jdbcType=VARCHAR},
      fPeriodDiscount_9 = #{fPeriodDiscount_9,jdbcType=DECIMAL},
      dPeriodStart_10 = #{dPeriodStart_10,jdbcType=VARCHAR},
      dPeriodEnd_10 = #{dPeriodEnd_10,jdbcType=VARCHAR},
      fPeriodDiscount_10 = #{fPeriodDiscount_10,jdbcType=DECIMAL},
      dPeriodStart_11 = #{dPeriodStart_11,jdbcType=VARCHAR},
      dPeriodEnd_11 = #{dPeriodEnd_11,jdbcType=VARCHAR},
      fPeriodDiscount_11 = #{fPeriodDiscount_11,jdbcType=DECIMAL},
      dPeriodStart_12 = #{dPeriodStart_12,jdbcType=VARCHAR},
      dPeriodEnd_12 = #{dPeriodEnd_12,jdbcType=VARCHAR},
      fPeriodDiscount_12 = #{fPeriodDiscount_12,jdbcType=DECIMAL},
      cStoreNo = #{cStoreNo,jdbcType=VARCHAR},
      cStoreName = #{cStoreName,jdbcType=VARCHAR},
      bVip = #{bVip,jdbcType=BIT},
      iLineNo = #{iLineNo,jdbcType=INTEGER}
    where cPloyNo = #{cPloyNo,jdbcType=VARCHAR}
      and cGoodsTypeNo = #{cGoodsTypeNo,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select cPloyNo, cGoodsTypeNo, cGoodsTypeName, fQuantity_Ploy, fInPrice, fPrice_SO, 
    dDateStart, cTimeStart, dDateEnd, cTimeEnd, iPriority, bSO, bPresent, cPresentPloyNo, 
    cPloyTypeNo, cPloyTypeName, bEnabled, Week1, Week2, Week3, Week4, Week5, Week6, Week7, 
    Hour0, Hour1, Hour2, Hour3, Hour4, Hour5, Hour6, Hour7, Hour8, Hour9, Hour10, Hour11, 
    Hour12, Hour13, Hour14, Hour15, Hour16, Hour17, Hour18, Hour19, Hour20, Hour21, Hour22, 
    Hour23, fSupRatio, fVipValue, bMult, bLimitQty, fLimitQty, fRatio_JiOu, bJiOu, fQty_Ji, 
    fPrice_ji, fQty_Ou, fPrice_Ou, bSuspend, cSuspendMan, dSuspend, fPrice_SO_old, cUpdateMan, 
    dUpdate, bDownLoad, b_ftp, iPre_Days, iOver_Days, dPeriodStart_1, dPeriodEnd_1, fPeriodDiscount_1, 
    dPeriodStart_2, dPeriodEnd_2, fPeriodDiscount_2, dPeriodStart_3, dPeriodEnd_3, fPeriodDiscount_3, 
    dPeriodStart_4, dPeriodEnd_4, fPeriodDiscount_4, dPeriodStart_5, dPeriodEnd_5, fPeriodDiscount_5, 
    dPeriodStart_6, dPeriodEnd_6, fPeriodDiscount_6, dPeriodStart_7, dPeriodEnd_7, fPeriodDiscount_7, 
    dPeriodStart_8, dPeriodEnd_8, fPeriodDiscount_8, dPeriodStart_9, dPeriodEnd_9, fPeriodDiscount_9, 
    dPeriodStart_10, dPeriodEnd_10, fPeriodDiscount_10, dPeriodStart_11, dPeriodEnd_11, 
    fPeriodDiscount_11, dPeriodStart_12, dPeriodEnd_12, fPeriodDiscount_12, cStoreNo, 
    cStoreName, bVip, iLineNo
    from t_PloyOfSale_GoodsType
    where cPloyNo = #{cPloyNo,jdbcType=VARCHAR}
      and cGoodsTypeNo = #{cGoodsTypeNo,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select cPloyNo, cGoodsTypeNo, cGoodsTypeName, fQuantity_Ploy, fInPrice, fPrice_SO, 
    dDateStart, cTimeStart, dDateEnd, cTimeEnd, iPriority, bSO, bPresent, cPresentPloyNo, 
    cPloyTypeNo, cPloyTypeName, bEnabled, Week1, Week2, Week3, Week4, Week5, Week6, Week7, 
    Hour0, Hour1, Hour2, Hour3, Hour4, Hour5, Hour6, Hour7, Hour8, Hour9, Hour10, Hour11, 
    Hour12, Hour13, Hour14, Hour15, Hour16, Hour17, Hour18, Hour19, Hour20, Hour21, Hour22, 
    Hour23, fSupRatio, fVipValue, bMult, bLimitQty, fLimitQty, fRatio_JiOu, bJiOu, fQty_Ji, 
    fPrice_ji, fQty_Ou, fPrice_Ou, bSuspend, cSuspendMan, dSuspend, fPrice_SO_old, cUpdateMan, 
    dUpdate, bDownLoad, b_ftp, iPre_Days, iOver_Days, dPeriodStart_1, dPeriodEnd_1, fPeriodDiscount_1, 
    dPeriodStart_2, dPeriodEnd_2, fPeriodDiscount_2, dPeriodStart_3, dPeriodEnd_3, fPeriodDiscount_3, 
    dPeriodStart_4, dPeriodEnd_4, fPeriodDiscount_4, dPeriodStart_5, dPeriodEnd_5, fPeriodDiscount_5, 
    dPeriodStart_6, dPeriodEnd_6, fPeriodDiscount_6, dPeriodStart_7, dPeriodEnd_7, fPeriodDiscount_7, 
    dPeriodStart_8, dPeriodEnd_8, fPeriodDiscount_8, dPeriodStart_9, dPeriodEnd_9, fPeriodDiscount_9, 
    dPeriodStart_10, dPeriodEnd_10, fPeriodDiscount_10, dPeriodStart_11, dPeriodEnd_11, 
    fPeriodDiscount_11, dPeriodStart_12, dPeriodEnd_12, fPeriodDiscount_12, cStoreNo, 
    cStoreName, bVip, iLineNo
    from t_PloyOfSale_GoodsType
  </select>
</mapper>